[submodule "pack/default/start/elm-vim"]
	path = pack/default/start/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "pack/default/start/nerdtree"]
	path = pack/default/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/default/start/nerdcommenter"]
	path = pack/default/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pack/default/start/vim-fugitive"]
	path = pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/default/start/vim-polyglot"]
	path = pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/default/start/ale"]
	path = pack/default/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/default/start/vim-mix-format"]
	path = pack/default/start/vim-mix-format
	url = https://github.com/mhinz/vim-mix-format.git
